// Fonts
//@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: 'TipoTypeRegular';
  src: url('/storage/fonts/TipoTypeRegular.otf') format('opentype');
  src: url('/storage/fonts/TipoTypeRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'TipoTypeBold';
  src: url('/storage/fonts/TipoTypeBold.otf') format('opentype');
  src: url('/storage/fonts/TipoTypeBold.ttf') format('truetype');
  font-weight: 700;
}

@import '~bootstrap/scss/bootstrap';

@import '@splidejs/splide/css';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  //overflow-y: hidden;
}

body {
  //font-family: "Montserrat", sans-serif;
  font-family: "TipoTypeRegular", sans-serif;
}

$primary-color: #3f3f3f;

$title-font-size: 56px;
$title-font-size-mobile: 38px;

$title-2nd-font-size: 42px;
$title-2nd-font-size-mobile: 32px;

$product-variant-titles-font-size: 24px;
$product-variant-titles-font-size-mobile: 15px;

$product-variant-titles-letter-spacing: 1.6px;

$product-variant-description-font-size: 12px;
$product-variant-description-font-color: #919191;

$paragraph-font-color: #919191;
$paragraph-font-size: 14px;

$paragraph-ceo-quot-font-size: 16px;

$navbar-item-font-color: #3f3f3f;
$navbar-item-hover-font-color: #919191;
$navbar-item-font-weigth: 500;
$navbar-item-letter-spacing: 0;
$navbar-item-font-size: 19px;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TipoTypeBold", sans-serif;
}

p,
.variant-button {
  font-family: "TipoTypeRegular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: $primary-color;
  letter-spacing: 0;
}

.arrow-up {
  transform: rotate(180deg);
}

h1.title {
  font-size: $title-font-size;
}


h2.title {
  font-size: $title-2nd-font-size;
}

.btn-primary,
.btn-secondary {
  width: 328px;
  height: 48px;
  border-radius: 32px;
  font-size: 17px;
  letter-spacing: 1.6px;
}

.btn-primary {
  background-color: $primary-color;
  border-color: transparent;
}

.btn-secondary {
  background-color: white;
  color: $primary-color;
  border-color: transparent;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-primary:focus,
.btn-secondary:focus,
.btn-primary:active,
.btn-secondary:active,
.btn-primary:first-child:active,
.btn-secondary:first-child:active {
  border-color: $primary-color;
  box-shadow: 0 0 20px 0 $primary-color;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:first-child:active {
  background-color: white;
  color: $primary-color;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:first-child:active {
  background-color: $primary-color;
  color: white;
}

.form-check-input:focus {
  border-color: $primary-color;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  background-color: $primary-color;
  border-color: $primary-color;
}

//.content-product {
//  position: absolute;
//  top: 30px;
//}

.modern-house-logo {
  width: 80px;
}

.modal-footer {
  border: none;
}

label {
  color: $primary-color;
}

#home section#footer,
footer {
  height: 225px;
}

footer {
  background-color: $primary-color;

  h4, p {
    color: white;
  }

  hr {
    color: white;
  }
}

.maintenance-page {
  height: 100dvh;
}

@import "./navbar.scss";
@import "./home.scss";
@import "./product.scss";
@import "./about-us.scss";
@import "./contact-us.scss";
@import './gallery.scss';

@import "./media-queries.scss";
