#home {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;

  .title {
    color: white;
    padding-top: 150px;
  }
  
  .introduction-video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #choose-order-contact {
    padding-top: 60px;

    img {
      width: 100px;
    }
  }
}
