#home {
  //position: relative;
  //scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  //overflow-y: scroll;
  //overflow-x: hidden;
  //section {
  //  scroll-snap-align: center;
  //}
  //scroll-snap-type: y mandatory;
  //overflow-y: scroll;
  height: 100%;
  .title {
    padding-top: 125px;
  }
  section {
    background: no-repeat top center fixed;
    //scroll-snap-align: center;
    //scroll-snap-stop: always;
  }
}
