@font-face {
  font-family: 'CharpentierRegular';
  src: url('/storage/fonts/CharpentierRegular.ttf') format('truetype');
  font-weight: 400;
}

.siguldas-skati-font {
  font-family: 'CharpentierRegular', serif;
  font-size: 25px;
}

.siguldas-skati-instagram-icon {
  font-size: 25px;
}

.non-fixed {
  scroll-snap-type: none !important;
}

#landing-page {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;

  #button-up {
    rotate: 180deg;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 3%;
    right: 45px;
  }

  @keyframes circle-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }

  #introduction {
    .introduction-title {
      padding-top: 150px;
    }

    .location {
      position: absolute;
      top: 9%;
      left: 75%;
    }

    .icon {
      padding-right: 12px;
      width: 30px;
    }
  }

  .icons {
    width: 50px;
    height: 50px;
  }

  .icons-sm {
    width: 20px;
    height: 20px;
  }

  .open-days-icons {
    padding-right: 12px;
  }

  .open-days-agenda {
    padding-left: 0;

    li.custom-bullet {
      display: flex;
      align-items: flex-start;
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
    }

    li.custom-bullet .icon {
      margin-right: 0.5rem;
      width: 1.2rem; /* Adjust size as needed */
      height: auto;
      margin-top: 0.25rem; /* Align with text */
    }
  }

  .map-size {
    height: 100%;
    width: 100%;
  }

  #available-projects-map {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }

  .full-container-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .leaflet-control-attribution {
    display: none;
  }

  #available-projects {
    .container-xxl:first-of-type {
      padding-left: 0;
      padding-right: 0;
    }

    .map-marker div {
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border: 3px solid rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      animation: circle-animation 2s infinite;
    }

    .modal-content {
      background-color: $primary-color;
    }
  }

  .col-with-background {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .checkmark-icon-as-list-item {
    padding-right: 12px;
    width: 40px;
  }

  #quality-standards {
    .row:last-of-type {
      bottom: 5%;
      align-self: center;
    }
  }

  #non-scroll-type-sections {
    scroll-snap-align: start;
  }

  .event-map {
    position: relative;
    background-image: url('/storage/landing-pages/modern-house-maju-marsruts-2025/road-bg.svg');
    background-repeat: no-repeat;
    background-position: top center;
    //background-size: contain;
    width: 100%;
    //min-height: 1600px;
    min-height: 1210px;

    .event-map-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(20, 1fr);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .event-map-card {
      background-color: rgba(255, 255, 255, 0.75);
      border: 1px solid black;
    }

    .location-1 {
      grid-column: 5;
      grid-row: 5;
      justify-self: center;
    }

    .location-2 {
      grid-column: 5 / -1;
      grid-row: 11;
      justify-self: center;
    }

    .location-3 {
      grid-column: 5;
      grid-row: 18;
      justify-self: center;
    }
  }

  .full-screen-gallery {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .splide__slide,
    .splide__slide.is-active {
      opacity: 1;
    }
  }

  .full-screen-gallery .splide {
    height: 100%;
  }

  .full-screen-gallery .splide__track,
  .full-screen-gallery .splide__list {
    height: 100%;
  }

  .full-screen-gallery .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .full-screen-gallery .slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .full-screen-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
