#landing-page {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;

  @keyframes circle-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }

  #introduction {
    .title {
      color: white;
      padding-top: 150px;
    }

    .location {
      position: absolute;
      top: 9%;
      left: 75%;
    }

    .location-name {
      font-size: 16px;
    }

    .location-icon {
      padding-right: 12px;
      width: 30px;
    }
  }

  .icons {
    width: 50px;
    height: 50px;
  }

  .map-size {
    height: 100%;
    width: 100%;
  }

  #available-projects-map {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }

  .full-container-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .leaflet-control-attribution {
    display: none;
  }

  #available-projects {
    .container-xxl:first-of-type {
      padding-left: 0;
      padding-right: 0;
    }

    .map-marker div {
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border: 3px solid rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      animation: circle-animation 2s infinite;
    }

    .modal-content {
      background-color: $primary-color;
    }
  }

  .col-with-background {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .checkmark-icon-as-list-item {
    padding-right: 12px;
    width: 40px;
  }

  #ceo-quot {
    p {
      color: $primary-color;
    }

    .quot-element {
      font-size: 80px;
      height: 65px;
    }
  }

  #quality-standards {
    .row:last-of-type {
      bottom: 5%;
      align-self: center;
    }
  }

  #non-scroll-type-sections {
    scroll-snap-align: start;
  }
}
