@media (max-width: 992px) {
  .desktop-navbar {
    display: none;
  }
  .btn-main {
    max-width: 290px;
  }

  #home {
    .title {
      padding-top: 85px;
    }
  }

  .title {
    h1 {
      font-size: $title-font-size-mobile;
    }
  }
}

@media (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }
}
