@media (max-width: 992px) {
  .btn-main {
    max-width: 290px;
  }

  .title {
    h1 {
      font-size: $title-font-size-mobile;
    }
  }

  .product-price {
    h1 {
      font-size: $product-price-title-font-size-mobile;
    }
  }
}

@media (max-width: 570px) {
  .modern-house-logo {
    width: 90px;
  }

  .product-variant-titles button {
    font-size: $product-variant-titles-font-size-mobile;
  }
}
