@media (max-width: 992px) {
  .navbar-links-desktop {
    display: none !important;
  }
  h1.title {
    font-size: $title-font-size-mobile;
  }
  section#introduction {
    h2.title {
      padding-top: 125px;
    }
  }

  h3.title {
    font-size: $title-3rd-font-size-mobile;
  }

  #landing-page {
    #introduction {
      .location {
        position: static;
      }
    }
  }
  .container-with-image-background:last-of-type {
    background-position: 75%;
  }
}

@media (max-width: 768px) {
  #home {
    #choose-order-contact {
      img {
        width: 75px;
      }
    }
  }

  footer {
    height: 300px;
  }

  #landing-page {
    p {
      font-size: $landing-page-paragraph-font-size-mobile;
    }

    .checkmark-icon-as-list-item {
      width: 30px;
    }
  }
}

@media (max-width: 570px) {
  .modern-house-logo {
    width: 65px;
  }

  .btn-primary,
  .btn-secondary,
  .btn-third {
    width: 290px;
    height: 42px;
    font-size: $button-font-size-mobile;
  }

  label {
    font-size: $label-font-size-mobile;
  }

  h2.title {
    font-size: $title-2nd-font-size-mobile;
  }

  .buttons-content-switch {
    button.nav-link,
    a.nav-link {
      font-size: $product-variant-titles-font-size-mobile;
    }
  }

  .modern-house-location-map {
    height: 250px;
  }
}

@media (max-width: 320px) {
  #landing-page {
    p {
      font-size: $landing-page-paragraph-font-size-xs-mobile;
    }
  }
}

@media (min-width: 1400px) {
  .mobile-navbar {
    .navbar-toggler.open {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: all 0.5s;
    }
  }
}
