.mobile-navbar {
  z-index: 10;
  //background-color: #000000;

  .navbar-toggler {
    z-index: 11;
    border-color: transparent;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 40px;
    height: 4px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: 0.5s;
  }

  .bar1.change {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .bar2.change {
    opacity: 0;
  }

  .bar3.change {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  #mobile-navbar-modal {
    position: fixed;
    max-height: 100%;
    width: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
    transition: 0.5s;
    z-index: 10;
    box-shadow: -6px 1px 11px 0px rgba(0,0,0,0.41);
    #modal-content {
      opacity: 0;
      transition: 0.5s;
    }
  }
}

.backdrop {
  //filter: brightness(0.5);
  transition: 0.5s;
  filter: opacity(0.5);
}

.nav-link,
.dropdown-item {
  color: $navbar-item-font-color;
  font-weight: $navbar-item-font-weigth;
  letter-spacing: $navbar-item-letter-spacing;
  font-size: $navbar-item-font-size;
}

.nav-link:hover,
.nav-link:focus {
  color: $navbar-hover-font-color;
}

.nav-link-active {
  color: $navbar-hover-font-color;
  border-bottom: 2px solid $navbar-hover-font-color;
  padding-bottom: 0;
}

.social-network-icons-menu i{
  font-size: 24px;
}

.social-network-icon-dividers {
  font-size: 24px;
}

.footer-info {
  .nav-link {
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
  }
}
