.mobile-navbar {
  z-index: 10;
  //background-color: #000000;


  .navbar-toggler {
    z-index: 15;
    border-color: transparent;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 40px;
    height: 4px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: all 0.5s;
  }

  .bar-index {
    background-color: white;
  }

  .bar-index.change {
    background-color: $primary-color;
  }

  .bar1.change {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .bar2.change {
    opacity: 0;
  }

  .bar3.change {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .navbar-links-desktop {
    padding-right: 42px;
  }

  #navbar-modal {
    position: fixed;
    max-height: 100%;
    width: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
    transition: all 0.5s;
    z-index: 10;
    box-shadow: -6px 1px 11px 0px rgba(0, 0, 0, 0.41);

    #modal-content {
      opacity: 0;
      transition: all 0.5s;
    }
  }
}

.navbar-index {
  background-color: rgba(63, 63, 63, .5);
}

.backdrop {
  transition: all 0.5s;
  filter: opacity(0.5);
}


.nav-link,
.dropdown-item {
  color: $navbar-item-font-color;
  font-weight: $navbar-item-font-weigth;
  letter-spacing: $navbar-item-letter-spacing;
  font-size: $navbar-item-font-size;
}

.nav-link.index {
  color: white;
}

.nav-link:hover,
.nav-link:focus {
  color: $navbar-item-hover-font-color;
}

.nav-link:focus-visible {
  box-shadow: $primary-color-focus-box-shadow;
}

.nav-link-active {
  color: $navbar-item-hover-font-color;
  border-bottom: 2px solid $navbar-item-hover-font-color;
  padding-bottom: 0;
}

.navbar-modal-social-network-icons i {
  font-size: 20px;
}

.navbar-modal-social-network-icon-dividers {
  font-size: 22px;
}

.navbar-modal-footer {
  .nav-link {
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
  }
}
