#open-days-registration {
  .introduction,
  .success {
    min-height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#open-days-invitation-modal {
  .modal-body {
    padding-bottom: 45px;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;

    img {
      padding-right: 0.5rem;
      margin-left: -3px;
    }
  }
}
