.product-level-titles {
  border: none;
  justify-content: space-evenly;
  button.nav-link {
    border-color: transparent;
    border: none;
    padding: 0.5rem;
    &.active {
      border-bottom: 4px solid $navbar-hover-font-color;
      color: $navbar-hover-font-color;
      //border-radius: 5%;
    }
  }
}

.product-price {
  h1 {
    font-size: $product-price-title-font-size;
    font-weight: $product-price-title-font-weight;
  }
}

.product-short-description {
  max-width: 500px;
  margin: 0 auto;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent;
}

.form-check {
  padding: 0;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none;
}

//.variant-button:focus,
//.variant-button:active{
//  color: $navbar-hover-font-color;
//}

.variant-button:not(.collapsed) {
  background-color: $navbar-hover-font-color;
  color: white;
}

.variant-button:focus {
  border: none;
  box-shadow: none;
}

.variant-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

//$accordion-button-active-bg: red;
